.TrainingEditForm__addApproach {
  margin-left: 1em;
}

.TrainingEditForm__addExercise {
  margin-bottom: 1em;
}

.Training__DeleteGrid {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.TrainingEditForm__exerciseName {
  display: flex;
  align-items: center;
}